<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y
            2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Home</title>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">BISSAOUI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item active" sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link"  th:href="@{/admin/mvc/users}"> <i class="fas fa-user-friends"></i> Utilisateurs <span class="sr-only"></span></a>
            </li>

            <li class="nav-item active" sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link" th:href="@{/admin/mvc/tickets}"> <i class="fa-solid fa-bug"></i></i> Tous Tickets <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active" sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link" th:href="@{/admin/mvc/tickets/attrFalse}"> <i class="fa-solid fa-bug"></i></i> Tickets NonAttr <span class="sr-only"></span></a>
            </li>


            <li class="nav-item active" sec:authorize="hasAuthority('USER')">
                <a class="nav-link" th:href="@{/client/mvc/mytickets}"> <i class="fa-solid fa-bug"></i></i> Tickets <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active" sec:authorize="hasAuthority('USER')">
                <a class="nav-link" th:href="@{/client/mvc/addticket}"> <i class="fa-solid fa-bug"></i></i> Ajouter une Ticket <span class="sr-only"></span></a>
            </li>

            <li class="nav-item active" sec:authorize="hasAuthority('DEV')">
                <a class="nav-link" th:href="@{/dev/mvc/tickets}"> <i class="fa-solid fa-bug"></i></i> Tickets <span class="sr-only"></span></a>
            </li>

            <li class="nav-item active" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/profile}"> <i class="fa-solid fa-user"></i></i> Profile <span class="sr-only"></span></a>
            </li>



            <li class="nav-item active" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/logout}"> <i class="fas fa-sign-out-alt"></i> Logout <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active" sec:authorize="isAnonymous()" >
                <a th:href="@{/login}" class="nav-link">Login</a>
            </li>
            <li  class="nav-item active" sec:authorize="isAnonymous()">
                <a th:href="@{/inscription}" class="nav-link">Inscription</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-4">
    <div sec:authorize="isAnonymous()" class = "text-center d-flex justify-content-center align-items-center flex-column">
        <h1 class="h3 mb-3 font-weight-normal">Gestion des Tickets  : </h1>
        <div class="container mt-4 text-center w-50 text-white">

        </div>
    </div>
</div>





</body>
</html>