<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<head>
	<title>Inscription</title>
</head>

<body class="text-center">
	<section layout:fragment="contenu">
		<form th:action="@{/inscription}" th:object="${user}" method="post">
			<input   type="text" name="id" hidden
					th:field="*{id}" />
			<div class="form-floating"> nom: <input class="form-control"  type="text" name="nom"/></div>
			<div class="form-floating"> user name: <input class="form-control"  type="text" name="prenom"/></div>
			<div class="form-floating"> user name: <input class="form-control"  type="text" name="username"/></div>
			<div class="form-floating"> user name: <input class="form-control"  type="text" name="email"/></div>
			<div class="form-floating"> Password: <input class="form-control" type="password" id="password" name="password" th:field="*{password}" required autofocus="autofocus" /></div>
			<div><button class="btn btn-primary" type="submit">Enregistrer</button></div>
		<span>Déjà enregistré? <a href="/" th:href="@{/login}">Login</a></span>
        </form>
	</section>


</body>

</html>